@function pxToRem($px) {
    @return 1rem * $px / $base-px;
}

@function pxToEm($px, $bpx) {
    @return 1em * $px / $bpx;
}

/* Project specific */

@keyframes slideOpenLeft {
    from {
        transform: translateX(50%) rotate(5deg);
    }
}

@keyframes slideOpenRight {
    from {
        transform: translateX(-50%) rotate(5deg);
    }
}

@mixin color-list ($c) {
    $ns: null;
    $cs: null;
    $gs: 180deg;

    @each $name, $color in $c {
        $ns: append($ns, $name);
        $cs: append($cs, $color);
    }

    $i: 0;
    $f: 100% / (length($ns) - 1);
        
    @each $name, $color in $c {
        $gs: append($gs, #{$color $i*$f}, comma);

        $i: $i + 1;
        $gs: append($gs, #{$color $i*$f}, comma);
    }

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-image: linear-gradient(#{$gs}); 
    color: $c-white;
    line-height: 2.5;
    padding: 0 1em;
    
    &::after {
        width: 5em;
        display: block;
        content: '#{$cs}';
        text-transform: uppercase;
    }

    &::before {
        width: 4em;
        display: block;
        content: '#{$ns}';
    }
}

@mixin bg-blocks ($top:0, $right:0, $bottom:0, $left:0) {

    &::before,
    &::after {
        content: '';
        @include cover-parent ($top, $right, $bottom, $left);
        z-index: -1;

        @content;
    }
}

@mixin cover-parent ($top:0, $right:0, $bottom:0, $left:0) {
    display: block;
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}